/* reset css starts */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; -webkit-appearance: none !important;}
form{display: block;width: 100%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
a{text-decoration: none;color: inherit;font-size:inherit;}
input, button{-webkit-appearance: none !important}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
/* reset css ends */

@font-face{font-family: 'Bebas Neue'; src: url('/fonts/BebasNeue.otf')}

body, html{margin:0; padding:0; overflow-x:hidden; font-family: Helvetica, Arial, Verdana; font-size:14px; width:100%; min-height: 100%; height: 100%; color:#3b3b3b;}

.line{display: block; clear:both; margin:0; padding:0; float:none; min-width:100%; max-width: 100%; width:100%; overflow: hidden; -moz-box-sizing:border-box; -o-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; position: relative;} /*line contains boxes*/
.box{float:left; display: inline-block; margin-right:1.5%; float:none; vertical-align: top; overflow: hidden; margin:0; padding:0; -moz-box-sizing:border-box; -o-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}

.box10, .box20, .box30, .box40, .box50, .box60, .box70, .box80, .box90, .box100{margin-left: 1.75%;}

.box10{width:8%;}
.box15{width:13%;}
.box20{width:18%;}
.box25{width:23%;}
.box30{width:28%;}
.box40{width:38%;}
.box50{width:48%;}
.box60{width:58%;}
.box70{width:68%;}
.box75{width:73%;}
.box80{width:78%;}
.box85{width:73%;}
.box90{width:88%;}
.box100{width:98%;}

.box.left{margin-left: 0;}
.box.right{margin-left:0; float:right;}
.box.center{margin:0 auto; clear: both; float: none; display: block}

.box10.left{width:10%;}
.box20.left{width:20%;}
.box30.left{width:30%;}
.box40.left{width:40%;}
.box50.left{width:50%;}
.box60.left{width:60%;}
.box70.left{width:70%;}
.box80.left{width:80%;}
.box90.left{width:90%;}
.box100.left{width:100%;}

.box label{padding-top:11px; font-size:12px; display: block; text-align: right}

.mainContainer{width:960px; display: block; clear:both; margin:0 auto; overflow: hidden;}

.clear{display: block; clear:both; width:100%; margin:0; padding:0;}

.clear5{height:5px;}
.clear10{height:10px;}
.clear15{height:15px;}
.clear20{height:20px;}
.clear25{height:25px;}
.clear20{height:20px;}
.clear25{height:25px;}
.clear30{height:30px;}
.clear35{height:35px;}
.clear40{height:40px;}
.clear45{height:45px;}
.clear50{height:50px;}
.clear100{height:100px;}

.boxForm{background: #dbdbdb; padding:20px;}

p{line-height: 1.5em;}
h2{font-size:1.5em; margin-bottom:1em;}

input, select, textarea{padding:5px 10px; border:0; box-shadow: 0; margin: 4px 0; width: 100%; display: block; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
input[type="checkbox"]{width:auto; float:left; margin-top:10px;}

#alerts{position: absolute; overflow: hidden; z-index: 100;}
#alerts > .alert{padding:10px 15px; margin:10px 0; position: relative; z-index: 100; width:960px; overflow: hidden; -moz-box-sizing:border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
#alerts > .alert:hover{cursor: pointer;}
.error{color:#fff; background:#A30006;}
.success{color:#fff; background:#519548;}
.notification{color:#fff; background: #107FC9;}

.closeButton{padding:0 5px; float:right;}
.closeButton:hover{cursor: pointer;}

input[type="submit"]:hover{cursor: pointer;}

.boxHeadline, .boxContent{padding: 10px; margin: 0; display: block; clear: both; width: 100%; background:#42445B; color:#fff; -moz-box-sizing:border-box; -o-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
.boxContent{color:#000; background: #eee; padding-top:10px;}
.textCenter{text-align: center;}

.mainPanel{background:#1B1B1B; max-height: 100%; min-height: 100%;  height: 100%; overflow: hidden; vertical-align: top; color:#fff; position: fixed; left:0; top:0;}
.mainContainerWrapper{display: inline-block; width:85%; overflow: hidden; vertical-align: top; min-height: 100%; height: 100%; float:none;}

.bgWrapper{width:100%; height: 100%; display: block; min-width: 100%; max-width: 100%; min-height: 100%; background-size: cover; overflow-x: hidden;}
.mountainsBg{background: url('/img/mountains.jpg') no-repeat; background-size:cover;}

input[type="submit"], button{background:#005561; color:#fff; cursor: pointer;}

.button{padding:10px; font-size:11px; color:#fff; background: #3b3b3b; display: inline-block; float:none; vertical-align: top; cursor: pointer;}
.button:hover{background:#f1f1f1; color:#3b3b3b;}
.tealButton{background:#005561;}
.right{float:right;}

.panel{min-height: 100%; height: auto;}
ul.mainMenu{display: block; margin: 50px 0 0 0; list-style: none; width:100%; overflow: hidden; font-family: 'Bebas Neue', Helvetica, Arial; font-size:16px;}
ul.mainMenu li{display: block; margin:0; padding:0; clear:both; width:100%;}
.mainMenu a{display:block; width:100%; padding: 30px 0; text-align: center; font-family: 'Bebas Neue', Helvetica, Arial; font-size:16px; color:#5E5E5E;}
.mainMenu a:hover{color:#3b3b3b; background: #fff}
table{padding:5px;}
thead tr, thead, th{background: #fff;}
thead{border-bottom:1px solid #232323; text-align: left; font-weight: 900;}
table, thead, tbody, tr{width:100%;}
tr{height: 25px;}
td{vertical-align: middle; padding:0 5px;}
tbody tr:hover{background: #005561;color:#fff;}
tr:nth-child(even){ background: #eee;}
tr:nth-child(odd){background: #ddd}
.content{background: #F7F7F7; color: #2d2d2d; padding: 20px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
.roboto{font-family:'Roboto Slab',Helvetica,Arial,Verdana !important;}
h2.articleTitle{margin-bottom:5px; line-height: 1.5em;}
p.date{color:#A7A7A7 !important;}

.commentSection a{color:#197689; text-decoration: underline;}
.commentLine{border-bottom: 1px solid #eee;}