.contentText{font-size:16px; line-height: 1.5em;}

#signIn, #signUp, #signOut, #forgotPasswordForm, #resetPasswordTemplate{display: block; margin: 25% auto; vertical-align: middle; background: #dbdbdb; width: 300px; padding: 20px;}
#signUp input, #forgotPasswordForm input, #resetPasswordTemplate input{width: 90%; margin:0 auto 10px auto;}
#signUp input[type="submit"], #signUp button, #forgotPasswordForm input[type="submit"], #forgotPasswordForm button, #resetPasswordTemplate input[type="submit"], #resetPasswordTemplate button{width: 50%; margin:0 auto 10px auto; float:none; display: block;}

#showForgotPassword{display:block; vertical-align: middle; line-height: 35px;}

#forgotPassword{display: block;}
.showForgotPassword{font-size: 12px; text-decoration: underline;}
.welcomeText{margin-right:10px;}

.yellowColor{color:#F4CD13;}

.adminPanelHeader{margin: 20px 0;}
.contentInput{display: block; clear: both; margin:0; padding:0; background:#fff;}

p, h1, h2, h3, .contentText h3, .contentText h4{line-height: 1.5em;}
h1{font-size:3em;}
h2, .contentText h3{font-size:2em;}
h3, .contentText h4{font-size:1.5em;}
b{font-weight: 900;}
i{font-style: italic;}
u{text-decoration: underline;}
blockquote{border-left: 6px solid #DF0D32; display: block; padding-left: 20px;}
pre{font-family: monospace, courier, Tahoma, Verdana;}

.contentText.contentInput{margin: 10px 0; padding:10px; -moz-box-sizing:border-box; box-sizing: border-box; -webkit-box-sizing:border-box;}
#addtionalSiteFieldsContainer{display: block; width:100%; overflow: hidden; position: relative;margin:0; padding:0;}
.medium-editor-placeholder{margin:0; padding:0;overflow: hidden; -moz-box-sizing:border-box; box-sizing: border-box; -webkit-box-sizing:border-box; position: relative; float:none; display: block; width:100%; vertical-align: top;}
.contentInput.contentText.medium-editor-placeholder{margin:5px 0 !important; font-size:14px;}
.medium-editor-placeholder{margin:0 !important; padding:0 !important;}
.medium-editor-placeholder:after{top:0; position: relative; display: inline;}
.clearfix:before, [data-medium-element="true"]:before, .clearfix:after, [data-medium-element="true"]:after{content:none;}
ul.websiteMainMenu{list-style: none; display: block; width:100%; clear: both; margin:0; padding:0;}
.websiteMainMenu li{list-style: none; margin:0 1px 0 0; padding:0; background: #fff; color:#2d2d2d; width: auto; display: inline-block;}
.websiteMainMenu li a{padding: 10px 15px; margin:0; display: block; text-align: center;}
.websiteMainMenu li:hover{background:#2d2d2d; color:#fff; cursor: pointer;}

#mapBox{display: block; width:100%; height: 200px;}
.deleteArticleButton, .deleteSiteButton{cursor:pointer;}
.orderUp{margin-left:15px;}
.orderUp, .orderDown{cursor: pointer; font-size: 22px; vertical-align: middle; line-height: 1.5em; width:22px; display: inline-block;}
#commentContent{resize: none;}
.commentTitle{color:#A7A7A7;}

.showCommentButton{background-color: #5f5f5f;}
.listThumb{width:75px; height: 75px; display: block; clear: both; margin:10px; float:left; padding:0;}