<template name="alertsTemplate">
    <div class="mainContainer">
        <div class="line" id="alerts">
            {{#each alerts}}
                {{> alert}}
            {{/each}}
        </div>
    </div>
</template>

<template name="alert">
    <div class="{{type}} alert">
        {{message}}
        <span class="closeButton">&times;</span>
    </div>
</template>