<template name="newArticle">
	<h2 class="adminPanelHeader">Tworzenie nowego artykułu</h2>
	<form id="newArticleForm" class="boxForm">
		<div class="line">
			<div class="box25 box"><label>tytuł:</label></div>
			<div class="box75 box"><input id="articleTitle" placeholder="tytuł artykułu"></div>
			<div class="clear"></div>
			<div class="box25 box"><label>strona:</label></div>
			<div class="box75 box">
				<select id="siteTypeSelectBox">
					<option value="" disabled selected>strona</option>
					{{#each articleSites}}
						<option value="{{ this.friendlyName }}">{{ this.name }}</option>
					{{/each}}
				</select>
			</div>
			<div class="clear"></div>
			<div class="box box25"><label>status artykułu</label></div>
			<div class="box box75">
				<select id="articleStatusSelectBox">
					<option value="" disabled selected>status artykułu</option>
					<option value="published">opublikowany</option>
					<option value="draft">szkic</option>
				</select>
			</div>
			<div class="clear"></div>
			<div class="box25 box"><label>dozwolone komentarze:</label></div>
			<div class="box75 box"><input type="checkbox" id="articleComments"></div>
			<div class="clear"></div>
			<div class="box25 box"><label>treść:</label></div>
			<div class="box75 box">
				<div class="contentInput contentText" data-placeholder="Wprowadź treść strony..."></div>
			</div>
			<div class="box box25"></div><div class="box25 box"><input type="submit" value="Dodaj arykuł"></div>
		</div>
	</form>
</template>

<template name="editArticle">
	<h2 class="adminPanelHeader">Edycja artykułu</h2>
	<form id="editArticleForm" class="boxForm">
		<div class="line">
			<div class="box25 box"><label>tytuł:</label></div>
			<div class="box75 box"><input id="articleTitle" placeholder="tytuł artykułu" value="{{this.title}}"></div>
			<div class="clear"></div>
			<div class="box25 box"><label>strona:</label></div>
			<div class="box75 box">
				<input type="text" value="{{this.site}}" disabled="disabled">
			</div>
			<div class="clear"></div>
			<div class="box box25"><label>status artykułu</label></div>
			<div class="box box75">
				<select id="articleStatusSelectBox">
					<option value="" disabled>status artykułu</option>
					{{#if isEq this.status 'published'}}
						<option value="published" selected>opublikowany</option>
					{{else}}
						<option value="published">opublikowany</option>
					{{/if}}
					{{#if isEq this.status 'draft'}}
						<option value="draft" selected>szkic</option>
					{{else}}
						<option value="draft">szkic</option>
					{{/if}}
				</select>
			</div>
			<div class="clear"></div>
			<div class="box25 box"><label>dozwolone komentarze:</label></div>
			<div class="box75 box">
				{{#if isEq this.comments 'on'}}
					<input type="checkbox" id="articleComments" checked="checked">
				{{else}}
					<input type="checkbox" id="articleComments">
				{{/if}}
			</div>
			<div class="clear"></div>
			<div class="box25 box"><label>treść:</label></div>
			<div class="box75 box">
				<div class="contentInput contentText" data-placeholder="Wprowadź treść strony...">{{{this.content}}}</div>
			</div>
			<div class="box box25"></div><div class="box25 box"><input type="submit" value="Zapisz zmiany"></div>
		</div>
	</form>
</template>

<template name="showArticle">
	{{> publishedWebsites}}
	<div class="mainContainer">
		<div class="clear clear20"></div>
		<div class="content">
			<h2 class="articleTitle roboto">{{ this.title }}</h2>
			<p class="date">Opublikowany: {{ this.date }}, przez: {{ this.author }}</p>
			<div class="clear clear10"></div>
			<div>
				{{{ this.content }}}
			</div>
		</div>
	</div>
</template>