<template name="commentsContainer">
	<div class="content">
		<p>Komentarze:</p>
		{{>addComment}}
	</div>
</template>

<template name="addComment">
	<form id="commentForm">
		<div class="line">
			<div class="box box75 left">
				<textarea id="commentContent" placeholder="Treść komentarza..."></textarea>
			</div>
			<div class="box box25 right">
				<input type="submit" value="Dodaj komentarz">
			</div>
		</div>
	</form>
	<div class="clear clear20"></div>
</template>

<template name="singleComment">
	<div class="line commentLine">
		<p class="commentTitle">{{ this.author }} skomentował(a) dnia {{ this.date }}:</p>
		<p class="commentContent">{{ this.content }}</p>
		<div class="clear clear10"></div>
	</div>
	<div class="clear clear10"></div>
</template>