<template name="basic">
    <!-- <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato|Droid+Sans|Roboto+Slab:300|Open+Sans"> -->
    <style>{{ webSettings.customCss }}</style>
    <script type="text/javascript">{{ webSettings.customJs }}</script>
    {{> alertsTemplate}}
    <div class="bgWrapper mountainsBg">
        {{#unless resetPassword}}
            {{> yield}}
        {{else}}
            {{> resetPasswordTemplate}}
        {{/unless}}
    </div>
</template>

<template name="loadingTemplate">
    Trwa wczytywanie..
</template>

<template name="adminPanel">
</template>

<template name="panel">
    {{> alertsTemplate}}
    <div class="line panel">
        <div class="box box15 mainPanel">
            {{> adminPanelMenu}}
        </div>
        <div class="box box15"></div>
        <div class="box box85">
            {{> yield}}
        </div>
    </div>
</template>

<template name="adminPanelMenu">
    <ul class="mainMenu">
        {{#unless isSuperAdmin}}
            <li><a href="{{pathFor 'manageUsers'}}">Użytkownicy</a></li>
            <li><a href="{{pathFor 'manageSites'}}">Strony</a></li>
            <li><a href="{{pathFor 'manageArticles'}}">Artykuły</a></li>
            <li><a href="{{pathFor 'manageComments'}}">Komentarze</a></li>
            <li><a href="{{pathFor 'manageFiles'}}">Pliki</a></li>
        {{/unless}}
    </ul>
</template>

<template name="artLayout">
    <!-- <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato|Droid+Sans|Roboto+Slab:300|Open+Sans"> -->
    {{> alertsTemplate}}
    <div class="bgWrapper mountainsBg">
        {{> mainWebpageMenu}}
        <div class="clear clear20"></div>
        <div class="mainContainer">
            <div class="content">
                <h2 class="articleTitle roboto"><a href="{{pathFor 'showArticle'}}">{{ this.title }}</a></h2>
                <p class="date">Opublikowany: {{ this.date }}, przez: {{ this.author }}</p>
                <div class="clear clear20"></div>
                <div>{{{ this.content }}}</div>
            </div>
            <div class="clear clear10"></div>
            {{#if isEq this.comments "on"}}
                <div class="content commentSection">
                    {{#unless currentUser}}
                            <p><a href="{{pathFor 'signIn'}}">Zaloguj się</a>, aby dodać komentarz.</p>
                            <div class="clear clear20"></div>
                    {{else}}
                        {{> commentsContainer}}
                    {{/unless}}
                    {{#each articleComments}}
                        {{> singleComment }}
                    {{/each}}
                </div>
            {{/if}}
        </div>
    </div>
</template>

<template name="mainWebpageMenu">
    <div class="mainContainer">
        <ul class="websiteMainMenu">
            {{#each publishedWebsites}}
                <li><a href="{{pathFor 'website'}}">{{this.name}}</a></li>
            {{/each}}   
        </ul>
    </div>
</template>