<template name="newSite">
	<div class="mainContainer">
		<h2 class="adminPanelHeader">Tworzenie nowej strony</h2>
		<div class="line">
			<div class="box box50">
				<form id="newSiteForm" class="boxForm">
					<input type="text" id="siteName" placeholder="nazwa strony">
					<select id="siteStatusSelectBox">
						<option value="" disabled selected>status strony</option>
						<option value="published">opublikowana</option>
						<option value="draft">szkic</option>
					</select>
					<select id="siteTypeSelectBox">
						<option value="" disabled selected>typ strony</option>
						<option value="singlePage">Zwykła strona</option>
						<option value="artPage">Strona z artykułami</option>
						<option value="contactPage">Strona kontaktowa</option>
					</select>
					<div id="mapFields"></div>
					<div class="clear"></div>
					<input type="submit" value="dodaj stronę">
				</form>
			</div>
		</div>
		<div class="clear clear20"></div>
		<div class="line">
			<div class="box box50">
				<div id="addtionalSiteFieldsContainer"></div>
			</div>
		</div>
	</div>
</template>

<template name="homeSubpage">
    {{> mainWebpageMenu}}
	<div class="mainContainer">
		<div class="clear clear20"></div>
		<div class="content">
			{{{ homePage.content }}}
		</div>
	</div>
</template>

<template name="website">
    {{> mainWebpageMenu}}
	<div class="mainContainer">
		<div class="clear clear20"></div>
		{{#if isEq this.type 'singlePage' }}
			{{> singlePageArticle }}
		{{/if}}

		{{#if isEq this.type 'artPage' }}
			{{> artPageContent }}
		{{/if}}

		{{#if isEq this.type 'contactPage' }}
			{{> contactPageContent}}
		{{/if}}
	</div>
</template>

<template name="singlePageArticle">
	<div class="content">
		<h2 class="siteNameHeader">{{ this.name }}</h2>
		{{{ this.content }}}
	</div>
</template>

<template name="contactPageContent">
	<div class="content">
		<div class="line">
			<h2 class="siteNameHeader">{{ this.name }}</h2>
			<div class="clear"></div>
			<div class="box box30 left">
				<div id="mapBox"></div>
			</div>
			<div class="box box70 right">
				{{{ this.content }}}
			</div>
		</div>
	</div>
</template>

<template name="artPageContent">
	<div class="content">
		<h2 class="siteNameHeader">{{ this.name }}</h2>
		<div class="clear"></div>
		{{{ this.content }}}
	</div>
	<div class="clear clear10"></div>
		{{#each siteArticles}}
			<div class="content">
				<h2 class="articleTitle roboto"><a href="{{pathFor 'showArticle'}}">{{ this.title }}</a></h2>
				<p class="date">Opublikowany: {{ this.date }}, przez: {{ this.author }}</p>
			</div>
		<div class="clear clear20"></div>
		{{/each}}
</template>