<template name="manageUsers">
    <div class="mainContainer">
        <h2 class="adminPanelHeader">Zarządzaj uprawnieniami użytkowników:</h2>
    	<div class="line">
            <table>
                <thead>
                    <tr><th>nick</th><th>email</th><th>aktywny?</th><th>uprawnienia</th><th>akcja</th></tr>
                </thead>
                <tbody>
                	{{#each usersList}}
                        {{#unless isEq this._id currentUser._id}}
                            <tr>
                                <td>{{ this.profile.nick }}</td>
                                <td>{{ this.emails.[0].address }}</td>
                                <td>
                                    {{#if this.isActive}}
                                        <input class="checkbox" type="checkbox" checked="checked" id="{{this._id}}"/>
                                    {{ else }}
                                        <input class="checkbox" type="checkbox" id="{{this._id}}"/>
                                    {{/if}}
                                </td>
                                <td>
                                	<select data-selected-role="{{this.role}}">
    		                            {{#each roles}}
                                            {{#if isEq this.name ../role}}
                                                <option value="{{this.name}}" selected="selected">{{this.name}}</option>
                                            {{else}}
                                                <option value="{{this.name}}">{{this.name}}</option>
                                            {{/if}}
    		                            {{/each}}
                                	</select>
                                </td>
                                <td></td>
                            </tr>
                        {{/unless}}
                	{{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>

<template name="manageSites">
    <div class="mainContainer">
        <h2 class="adminPanelHeader">Zarządzaj stronami:</h2>
        <div class="line">
            <a id="addSite" class="button" href="{{pathFor 'newSite'}}">dodaj stronę</a>
            <div class="clear clear20"></div>
            {{#if sitesList.count}}
                <table>
                    <thead>
                        <tr><th>nazwa strony</th><th>typ</th><th>autor</th><th>status</th><th>akcja</th></tr>
                    </thead>
                    <tbody id="sitesList">
                        {{#each sitesList}}
                            <tr>
                                <td>{{shortIt this.name 25}}</td>
                                <td>
                                    {{#if isEq this.type 'singlePage'}}
                                        <td>Zwykła strona</td>
                                    {{/if}}
                                    {{#if isEq this.type 'artPage'}}
                                        <td>Strona z artykułami</td>
                                    {{/if}}
                                    {{#if isEq this.type 'contactPage'}}
                                        <td>Strona kontaktowa</td>
                                    {{/if}}
                                </td>
                                <td>{{ this.owner }}</td>
                                <td>
                                    {{#if isEq this.status 'published'}}
                                        <td>opublikowana</td>
                                    {{/if}}
                                    {{#if isEq this.status 'draft'}}
                                        <td>szkic</td>
                                    {{/if}}
                                </td>
                                <td>
                                    <a class="button" href="{{pathFor 'editSite'}}">edytuj</a>
                                    <a href="javascript:void(0);" class="deleteSiteButton button">usuń</a>
                                    <a class="orderUp" href="javascript:void(0);">+</a>
                                    <a class="orderDown" href="javascript:void(0);">-</a>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{else}}
                <p>Brak stron do wyświetlenia. Być może czas dodać nową?</p>
            {{/if}}
        </div>
    </div>
</template>

<template name="editSite">
    <div class="mainContainer">
        <h2 class="adminPanelHeader">{{ this.name }} - edycja strony:</h2>
        <div class="line">
            <form id="editSiteForm" class="boxForm">
                <div class="line">
                    <div class="box box25"><label>Nazwa strony: </label></div>
                    <div class="box box75"><input type="text" id="siteName" placeholder="nazwa strony" value="{{ this.name }}"></div>
                </div>
                <div class="line">
                    <div class="box box25"><label>Status strony: </label></div>
                    <div class="box box75">
                        <select id="siteStatusSelectBox">
                            {{#if isEq this.status 'published'}}
                                <option value="published" selected>opublikowana</option>
                                <option value="draft">szkic</option>
                            {{/if}}
                            {{#if isEq this.status 'draft'}}
                                <option value="published">opublikowana</option>
                                <option value="draft" selected>szkic</option>
                            {{/if}}
                        </select>
                    </div>
                </div>
                <div class="line">
                    <div class="box box25"><label>Typ strony: </label></div>
                    <div class="box box75"><input type="text" id="siteType" placeholder="typ strony" disabled="disabled" value="{{ this.type }}"></div>
                </div>
                <div class="line">
                    <div class="box box25"><label>Autor: </label></div>
                    <div class="box box75"><input type="text" id="siteOwner" placeholder="autor strony" disabled="disabled" value="{{ this.owner }} "></div>
                </div>
                {{#if isEq this.type 'contactPage'}}
                    <div class="line">
                        <div class="box25 box"><label>Współrzędne mapy X: </label></div>
                        <div class="box25 box"><input type="text" id="mapX" placeholder="Wprowadź współrzędne mapy X" value="{{ this.mapX }}"></div>
                        <div class="box25 box"><label>Współrzędne mapy Y: </label></div>
                        <div class="box25 box"><input type="text" id="mapY" placeholder="Wprowadź współrzędne mapy Y" value="{{ this.mapY }}"></div>
                    </div>
                {{/if}}
                <div class="line">
                    <div class="box box25"><label>Treść strony: </label></div>
                    <div class="box box75"><div class="contentInput contentText" data-placeholder="Wprowadź treść strony...">{{{ this.content }}}</div></div>
                </div>
                <input type="submit" value="zapisz zmiany" class="button">
            </form>
        </div>
    </div>
</template>

<template name="manageArticles">
    <div class="mainContainer">
        <h2 class="adminPanelHeader">Zarządzaj artykułami:</h2>
        <div class="line">
            <a id="addSite" class="button" href="{{pathFor 'newArticle'}}">dodaj artykuł</a>
            <div class="clear clear20"></div>
            {{#if artsList.count}}
                <table>
                    <thead>
                        <tr><th>tytuł artykułu</th><th>autor</th><th>data dodania</th><th>strona</th><th>status</th><th>akcja</th></tr>
                    </thead>
                    <tbody>
                        {{#each artsList}}
                            <tr>
                                <td>{{ shortIt this.title 25 }}</td>
                                <td>{{ this.author }}</td>
                                <td>{{ this.date }}</td>
                                <td>{{ shortIt this.site 12 }}</td>
                                <td>
                                    {{#if isEq this.status 'published'}}
                                        opublikowany
                                    {{/if}}
                                    {{#if isEq this.status 'draft'}}
                                        szkic
                                    {{/if}}
                                </td>
                                <td>
                                    <a class="button" href="{{pathFor 'editArticle'}}">edytuj</a>
                                    <a href="javascript:void(0);" class="deleteArticleButton button">usuń</a>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{else}}
                <p>Brak artykułów do wyświetlenia. Być może czas dodać nowy?</p>
            {{/if}}
        </div>
    </div>
</template>

<template name="manageComments">
    <div class="mainContainer">
        <h2 class="adminPanelHeader">Zarządzaj komentarzami:</h2>
        <div class="line">
            <div class="clear clear20"></div>
            {{#if commentList.count}}
                <table>
                    <thead>
                        <tr><th>artykuł</th><th>autor</th><th>treść</th><th>akcja</th></tr>
                    </thead>
                    <tbody>
                        {{#each commentList}}
                            <tr>
                                <td>{{ commentArticle }}</td>
                                <td>{{ this.author }}</td>
                                <td>{{ this.content }}</td>
                                <td>
                                    {{#if this.visible }}
                                        <a href="javascript:void(0);" class="hideCommentButton button">zablokuj komentarz</a>
                                    {{else}}
                                        <a href="javascript:void(0);" class="showCommentButton button">odblokuj komentarz</a>
                                    {{/if}}
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{else}}
                <p>Brak komentarzy na stronie.</p>
            {{/if}}
        </div>
    </div>
</template>

<template name="manageFiles">
    <div class="mainContainer">
        <h2 class="adminPanelHeader">Zarządzaj plikami:</h2>
        <div class="line">
            <div class="clear clear20"></div>
            <div class="box boxForm box50 left">
                <input id="fileUploader" type="file"/>
            </div>
            <div class="clear clear20"></div>
            {{#if mediaList.count}}
                <table>
                    <thead>
                            <tr><th>obraz</th><th>link</th><th>wielkość</th><th>akcja</th></tr>
                    </thead>
                    <tbody>
                        {{#each mediaList}}
                            <tr>
                                <td><img src="{{ this.url }}" alt="{{ this.name }}" class="listThumb"/></td>
                                <!-- <td><button data-clipboard-text="{{ this.url }}" class="copyButton">{{ shortIt this.url 30 }}</button></td> -->
                                <td><a href="{{this.url}}" target="_blank">{{ shortIt this.url 30 }}</a></td>
                                <td>{{ this.size }}kB</td>
                                <td>
                                    <a href="javascript:void(0);" class="deleteFileButton button">usuń</a>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{else}}
                <p>Brak plików.</p>
            {{/if}}
            
        </div>
    </div>
</template>