<template name="userPanel">
<!--     {{> alertsTemplate}}
            {{#unless currentUser}}
                <a href="javascript:void(0);" id="signInButton">Zaloguj</a>
                <a href="javascript:void(0);" id="signUpButton">Zarejestruj</a>
            {{else}}
                {{> signOut}}
            {{/unless}}
    {{#unless resetPassword}}
        {{#unless currentUser}}
            {{#unless showForgotPassword}}
                {{> signIn}}
                {{> signUp}}
            {{else}}
                {{> forgotPassword}}
            {{/unless}}
        {{/unless}}
    {{else}}
        {{> resetPasswordTemplate}}
    {{/unless}} -->
</template>

<template name="signIn">
    {{> alertsTemplate}}
    <div class="bgWrapper mountainsBg">
        <div class="mainContainer">
            {{#unless currentUser}} 
                <div class="signIn" id="signIn">
                    <form action="/signIn" class="signInForm" id="signInForm" method="post">
                        <h2>Panel logowania</h2>
                        <input class="email" id="signInEmail" type="text" name="email" placeholder="Adres email">
                        <input class="password" id="signInPassword" type="password" name="password" placeholder="Hasło">
                        <div class="line">
                            <div class="box box50 left">
                                <input class="btnSubmit" type="submit" value="Zaloguj">
                            </div>
                            <div class="box box50 right">
                                <a class="showForgotPassword" href="{{pathFor 'forgotPassword'}}" id="showForgotPassword">Zapomniałeś hasła?</a>
                            </div>
                        </div>
                    </form>
                </div>
            {{else}}
                {{> signOut}}
            {{/unless}}
        </div>
    </div>
</template>

<template name="signOut">
    <div id="signOut">
        <h2>Witaj, {{currentUser.nick}}</h2>
        <a class="button" href="/" id="signOutButton">Wyloguj</a>
        <a class="button tealButton right" href="{{pathFor 'adminPanel'}}">Przejdź do panelu</a>
    </div>
</template>

<template name="signUp">
    {{> alertsTemplate}}
    <div class="bgWrapper mountainsBg">
        <div class="mainContainer">
            <div class="signUp" id="signUp">
                <form action="/signUp" class="signUpForm" id="signUpForm" method="post">
                    <h2>Rejestracja użytkownika</h2>
                    <input class="nick" id="signUpNick" name="nick" placeholder="Nick" type="text">
                    <input class="email" id="signUpEmail" name="email" placeholder="Adres email" type="text">
                    <input class="password" id="signUpPassword" name="password" placeholder="Hasło" type="password">
                    <input class="passwordConfirm" id="signUpPasswordConfirm" name="passwordConfirm" placeholder="Potwierdź hasło" type="password">
                    <input class="btnSubmit" type="submit" value="Zarejestruj">
                </form>
            </div>
        </div>
    </div>
</template>

<template name="forgotPassword">
    <div class="forgotPassword" id="forgotPassword">
        <form action="/forgot" class="forgotPasswordForm" id="forgotPasswordForm" method="post">
            <h2>Reset hasła</h2>
            <input class="email" id="forgotPasswordEmail" type="text" name="email" placeholder="Adres email">
            <input class="btnSubmit" type="submit" value="Wyślij">
        </form>
    </div>
</template>

<template name="resetPasswordTemplate">
    <div class="resetPassword" id="resetPasswordTemplate">
        <form action="/resetPassword" class="resetPasswordForm" id="resetPasswordForm" method="post">
            <p class="details">Podaj nowe hasło żeby uzyskać dostęp do panelu użytkownika:</p>
            <div class="clear clear10"></div>
            <div class="box box50 left">
                <input class="password" id="resetPasswordPassword" name="password" placeholder="Nowe hasło" type="password">
            </div>
            <div class="box box50 right">
                <input class="passwordConfirm" id="resetPasswordPasswordConfirm" name="passwordConfirm" placeholder="Powtórz nowe hasło" type="password">
            </div>
            <input class="btnSubmit" type="submit" value="Resetuj hasło">
        </form>
    </div>
</template>